<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/service/head :: normal(pageTitle='Students')">
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="includes/components/header :: normal (pageAdress='/students')"></header>
<!--/*@thymesVar id="studentsPD" type="com.tr1nks.model.pagedatas.StudentPageData"*/-->
<div id="center">
    <link rel="stylesheet" href="/theme/css/person.css">
    <form th:action="@{/students/filter}" method="post" th:object="${studentsPD}" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <button class="btn btn-success center-block">Применить Фильтр</button>
        <div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label for="filterFacultsSelectId"></label>
                <select id="filterFacultsSelectId" th:field="*{filterFacults}" multiple hidden>
                    <option  selected value=""></option>
                    <option th:each="facultyItemO : *{variantFacults}" th:value="${facultyItemO.id}"></option>
                </select>
                <h3>Факультет</h3>
                <div data-toggle="collapse" data-target="#facultySelectDiv" class="selectedFilterItemsDiv col-lg-12 col-md-12 col-sm-12 col-xs-12"
                     id="facultySelectedVariantsDivId">
                </div>
                <div id="facultySelectDiv" class="collapse col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div th:each="facultyItem : *{variantFacults}" class="form-control">
                        <label>
                            <input class="checkbox-inline" type="checkbox" onclick="addRemove(this,'filterFacultsSelectId','facultySelectedVariantsDivId')"
                                   th:value="${facultyItem.id}" th:text="${facultyItem.name}" th:id="facultyCheckbox+${facultyItem.id}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="filterDiv col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label for="filterGroupsSelectId"></label>
                <select id="filterGroupsSelectId" th:field="*{filterGroups}" multiple hidden>
                    <option selected value=""></option>
                    <option th:each="groupItemO : *{variantGroups}" th:value="${groupItemO.id}"></option>
                </select>
                <h3>Группа</h3>
                <div data-toggle="collapse" data-target="#groupSelectDiv" class="selectedFilterItemsDiv col-lg-12 col-md-12 col-sm-12 col-xs-12" id="groupSelectedVariantsDivId">
                </div>
                <div id="groupSelectDiv" class="collapse col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div th:each="groupItem : *{variantGroups}" class="form-control">
                        <label>
                            <input class="checkbox-inline" type="checkbox" onclick="addRemove(this,'filterGroupsSelectId','groupSelectedVariantsDivId')"
                                   th:value="${groupItem.id}" th:text="${groupItem.chiper}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="filterDiv col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label for="filterYearsSelectId"></label>
                <select id="filterYearsSelectId" th:field="*{filterYears}" multiple hidden>
                    <option selected value=""></option>
                    <option th:each="yearItemO : *{variantYears}" th:value="${yearItemO}"></option>
                </select>
                <h3>Год поступления</h3>
                <div data-toggle="collapse" data-target="#yearSelectDiv" class="selectedFilterItemsDiv col-lg-12 col-md-12 col-sm-12 col-xs-12" id="yearSelectedVariantsDivId">
                </div>
                <div id="yearSelectDiv" class="collapse col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div th:each="yearItem : *{variantYears}" class="form-control">
                        <label>
                            <input class="checkbox-inline" type="checkbox" onclick="addRemove(this,'filterYearsSelectId','yearSelectedVariantsDivId')"
                                   th:value="${yearItem}" th:text="${yearItem}">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/js/Person.js"></script>
    <script th:replace="/includes/service/jsIncludes :: jquery"></script>
    <script th:replace="/includes/service/jsIncludes :: bootstrapJs"></script>
    <hr>
    <div th:if="${studentsPD.students!=null&&studentsPD.students.size()>0}" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <form id="studentsForm" th:action="@{/students}" method="post" th:object="${studentsPD}">
            <!--<input type="hidden" th:field="*{students}">-->
            <input type="hidden" th:field="*{filterFacults}">
            <input type="hidden" th:field="*{filterGroups}">
            <input type="hidden" th:field="*{filterYears}">
            <input type="hidden" th:field="*{errFlg}">
            <select id="studentSelect" th:field="*{selectedStudents}" multiple hidden>
                <option th:each="studentItemOption : *{students}" th:value="${studentItemOption.id}"></option>
            </select>
            <table id="personViewTable">
                <thead>
                <tr>
                    <td><input type="checkbox" onclick="genSelect(this,'tableCheckbox')"></td>
                    <td>Фамилиия</td>
                    <td>Имя</td>
                    <td>Отчество</td>
                    <td>Группа</td>
                    <td>ЕДБО</td>
                    <td>e-mail</td>
                    <!--<td>Начальный пароль</td>--><!--todo решить о необходимости-->
                    <td>Бюджет</td>
                    <td>Imagine</td>
                    <td>Office</td>
                </tr>
                </thead>
                <tbody id="studentTbody">
                <tr th:each="studentItem,iter : ${studentsPD.students}">
                    <td th:class="${studentItem.errorMessage!=null} ? errorTd:td">
                        <input type="checkbox" class="tableCheckbox" th:checked="${studentItem.errorMessage!=null}" onclick="addRemoveNoAdd(this,'studentSelect')"
                               th:value="${studentItem.id}">
                        <input type="hidden" th:field="*{students[__${iter.index}__].id}">
                        <input type="hidden" th:field="*{students[__${iter.index}__].group}">
                    </td>
                    <td>
                        <input readonly th:class="'editingInput_'+${studentItem.id}+' '+'form-control'" th:field="*{students[__${iter.index}__].surname}">
                    </td>
                    <td>
                        <input readonly th:class="'editingInput_'+${studentItem.id}+' '+'form-control'" th:field="*{students[__${iter.index}__].name}">
                    </td>
                    <td>
                        <input readonly th:class="'editingInput_'+${studentItem.id}+' '+'form-control'" th:field="*{students[__${iter.index}__].patronymic}">
                    </td>
                    <td>
                        <input readonly th:class="'editingInput_'+${studentItem.id}+' '+'form-control'" th:field="*{students[__${iter.index}__].group.chiper}">
                    </td>
                    <td>
                        <input readonly th:class="'editingInput_'+${studentItem.id}+' '+'form-control'" th:field="*{students[__${iter.index}__].code}">
                    </td>
                    <td>
                        <input readonly th:class="'editingInput_'+${studentItem.id}+' '+'form-control'" th:field="*{students[__${iter.index}__].login}">
                    </td>
                    <td th:text="${studentItem.budget}"></td>
                    <td th:text="${studentItem.imagine}"></td>
                    <td th:text="${studentItem.office}"></td>
                    <td th:if="${studentItem.errorMessage!=null}" th:text="${studentItem.errorMessage}"></td>
                </tr>
                </tbody>
            </table>
            <div id="errorButtonDivId" th:if="${studentsPD.errFlg}"
                 class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <button type="button" onclick="edit('tableCheckbox','editingInput','errorButtonDivId','commitButtonId')" class="btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    Редактировать
                </button>
                <!--<button type="button" onclick="sendFormAction('studentsForm','formProcess/reload')" class="btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-6">Повторить</button>-->
            </div>
            <div id="normalButtonDivId" th:unless="${studentsPD.errFlg}"
                 class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <div>
                    <button type="button" onclick="sendFormAction('studentsForm','formProcess/setBudget')" class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Установить
                        Бюджет
                    </button>
                    <button type="button" onclick="sendFormAction('studentsForm','formProcess/setImagine')" class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Установить
                        Imagine
                    </button>
                    <button type="button" onclick="sendFormAction('studentsForm','formProcess/setOffice')" class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Установить
                        Office
                    </button>
                </div>
                <div>
                    <button type="button" onclick="sendFormAction('studentsForm','formProcess/removeBudget')" class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Снять
                        Бюджет
                    </button>
                    <button type="button" onclick="sendFormAction('studentsForm','formProcess/removeImagine')" class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Снять
                        Imagine
                    </button>
                    <button type="button" onclick="sendFormAction('studentsForm','formProcess/removeOffice')" class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Снять
                        Office
                    </button>
                </div>
                <div>
                    <button type="button" onclick="edit('tableCheckbox','editingInput','normalButtonDivId','commitButtonId')"
                            class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Редактировать
                    </button>
                    <button type="button" onclick="sendFormAction('studentsForm','formProcess/sendData')" class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Отправить
                        данные
                    </button>
                    <button type="button" onclick="sendFormAction('studentsForm','pdf')" class="btn-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">Получить архивы</button>
                </div>
            </div>
            <button hidden type="button" id="commitButtonId" onclick="sendFormAction('studentsForm','commitEdit')"
                    class=" btn-primary col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">Подтвердить
            </button>
        </form>
    </div>
</div>
<footer></footer>
</body>
</html>